/* html {
    background-color: var(--main-background-color);
} */

/* .bm-menu { */

/* display: block; */
/* background-color: #ff0000 !important; */
/* background: #ff00ff !important; */
/* background-color: color-mix(in hsl, var(--main-background-color), var(--colori) 5%); */
/* } */

.dp__outer_menu_wrap {
    z-index: 9999 !important;
    filter: brightness(100%) !important;
}

.dp__menu_index {
    z-index: 9999 !important;
    filter: brightness(100%) !important;
}

.dp__instance_calendar {
    z-index: 9999 !important;
    filter: brightness(100%) !important;
}

body {
    /* max-width: 600px;
    margin: 0 auto; */
    /* margin: 0 0; */
    max-width: 99vw;
    max-height: 99vh;

    margin: 0 auto;
}

/* button {
    background-color: var(--color);
    width: min-content;
    padding: 5px;
    border-radius: 5px;
} */


.clickButton {
    background-color: var(--color);
    color: var(--font-color);
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

hr {
    border-radius: 100px;
    border: 3px solid var(--color);
    background-color: var(--color);
    font-size: larger;
}

hr.head {
    border: 5px solid var(--color-half);
    background-color: var(--color-half);
    border-radius: 100px;
    /* size: 20px;   */
    font-size: larger;
}

.static {
    outline: 2px solid #d62506;
    outline-offset: 0px;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: 0.2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: 0.2em 0.2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 0.2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -0.2em 0.2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -0.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -0.2em -0.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -0.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: 0.2em -0.2em 0 0 currentcolor;
    }
}

.loader {
    width: 20px;
    height: 20px;
    position: absolute;
    border: 5px solid var(--color-half);
    border-bottom-color: var(--colori);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color);
    color: var(--font-color);
    cursor: pointer;
    transition: border-color 0.25s;
}

.textInput {
    margin: 5px;
    margin-left: 1px;
    margin-right: 1px;

    padding-left: 6px;
    background-color: var(--color-half);
    border: none;
    border-color: transparent;
    color: var(--font-color);
    font-weight: bolder;
    font-size: large;
    border-radius: 100px;
    text-decoration: none;
    padding-top: 1px;
    height: min-content;
    &:hover {
        background-color: var(--color);
    }

    &:disabled {
        background-color: var(--color-half);
        color: rgba(255, 255, 255, 0.5);
    }
}
